<div id="wall">
    <div class="container">
        <div class="row">
            <p class="col s12 m4">Hi <strong><%= user.name%> !</strong></p>
            <p class="col s6  hide-on-small-only">
                <a class="btn modal-trigger purple" href="#modal-postform">New post</a>
            </p>
            <p class="col s12 m8">
                <input type="search" placeholder="Search something">
            </p>
        </div>

        <!-- Ajouter un nouveau post-->
        <div class="modal" id="modal-postform">
            <br>
            <h5 class="center">Write a new post</h5>
            <form action="" method="POST" id="postform">
                <div class="container">
                    <input type="hidden" name="postuserid" value="<%= user._id %>">
                    <input type="hidden" name="postusername" value="<%= user.name%>">
                    <div class="input-field">
                        <textarea name="posttext" id="posttext" class="materialize-textarea" id="" cols="30"
                            rows="1"></textarea>
                        <label for="">Write something</label>
                    </div>
                    <div class="input-field file-field">
                        <div class="btn purple darken-3">
                            <span>Photo</span>
                            <input type="file" name="postphoto" id="postphoto">
                        </div>
                        <div class="file-path-wrapper">
                            <input type="text" class="fiel-path-validate">
                        </div>
                    </div>
                    <div class="input-field file-field">
                        <div class="btn purple darken-3">
                            <span>Video</span>
                            <input type="file" name="postvideo" id="postvideo">
                        </div>
                        <div class="file-path-wrapper">
                            <input type="text" class="fiel-path-validate">
                        </div>
                    </div>
                    <div class="row">
                        <input type="button" value="Post" onclick="post.check();" class="btn col s6 purple ">
                    </div>
                    <br>
                </div>

            </form>
        </div>


        <!-- Content of the page-->
        <h5>Recent posts</h5>
        <div class="row">
            <% posts.forEach(function(post){ %>
            <div class="col s12" style="background: #E8E8E8">
                <strong><%= post.postername%></strong><br>
                <p><%= post.text %></p>
                <video src="/postimg/big_buck_bunny.mp4" controls class="responsive-video"></video>
                <em><br> <%= post.postedat %></em>
                <p>
                    <span class="left"> <i class="fa fa-thumbs-up"></i> Likes</span>
                    <span class="right"><i class="fa fa-edit"></i> Comments</span>
                </p>
            </div>

            <div class="col s12">
                <br>
            </div>
            <%}) %>






        </div>
        <!-- Post floating action button-->
        <div class="fixed-action-btn hide-on-large-only">
            <a href="#modal-postform" class="btn-floating btn-large red modal-trigger waves-effect">
                <i class="fa fa-newspaper"></i>
            </a>
        </div>

    </div>
</div>